:root{
    --clr-primary: #370560;
    --clr-secondary: #1fa2d2;
    --clr-accent1: #ffffff;;
    --clr-accent2: #000000;
    --ff-header: Roboto;
    --ff-paragraph: Roboto;
    --fw-thin: 100;
    --fw-regular: 400;
    --fw-bold: 700;
    --fs-100: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: var(--ff-header,--ff-paragraph);
    font-size: var(--fs-400);
    line-height: 1.5;
    font-weight: var(--fw-regular);
    color: var(--clr-accent2);
    margin: 0;
    padding: 0;
}




    .headerdiv1 {
        background-color: var(--clr-primary);
        text-align: center;
        color: var(--clr-accent1);
        font-weight: var(--fw-bold);
        height: auto;
        padding: 1px;
    }
    
    .headerdiv2 {
        background-color: var(--clr-accent2);
        color: var(--clr-accent1);
        padding: 1px;
    }
    
    nav .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        font-size: var(--fs-300);
        font-weight: var(--fw-bold);
        list-style: none;
        
    }
    
    .nav-list-items {
        padding: 10px;
        
        
    }
    
    .nav-list-links {
        text-decoration: none;
        color: var(--clr-accent1);
        padding: 10px;
    }
    
    .nav-list-links:hover {
        background-color: var(--clr-secondary);
        border-radius: 10px;
       
    }
    


main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    gap: 10px;
}

    .card1 {
        grid-column: 1/3;
        border-radius: 5px;
    }
    
    .card1 .cardcontent {
        display: flex;
        margin: 10px;
        gap: 0.5rem;
        font-size: var(--fs-100);
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .card1 .subheader {
        width: 80%;
        background-color: var(--clr-accent2);
        height: 1px;
        align-items: center;
        margin: 0 auto;
    }
    
    .card1 h3 {
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .card2 {
        grid-column: 3/4;
        border-radius: 5px;
    }
    
    .card2 .resouceTags {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 30% 10px;
    }
    
    .card2 .resouceTags a {
        text-decoration: none;
        margin: 100% 10px;
        text-align: center;
    }
    
    .card1, .card2 {
        border-color: var(--clr-primary);
        border: 2px solid var(--clr-primary);
    }
    
    .card1 h2, .card2 h2 {
        background-color: var(--clr-primary);
        color: var(--clr-accent1);
        margin-top: 0;
        text-align: center;
        font-size: var(--fs-200);
        padding: 10px;
    }
    
    .card1 img {
        margin: 10px;
        overflow: hidden;
        width: 120px;
        height: 150px; /* Specify height unit */
    }
    
    .nigeriadesc p {
        font-size: 10px;
        font-weight: var(--fw-regular);
        text-align: center;
    }
    
    .text {
        margin-top: 0;
    }
    


footer{
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    color: var(--clr-accent1);}
    
    .eduimage {
        width: 15px;
        height: 15px;
        border-radius: 5px;
    }
    
    .footer .icon {
        padding: 5px;
        margin: 5px;
    }
    
    .footer .highlight {
        color: var(--clr-secondary);
        font-weight: var(--fw-regular);
        font-family: var(--ff-header);
    }
    
    


@media screen and (max-width: 950px){

    
    .headerdiv1 {
        padding: 10px;
    }
    
    .headerdiv2 nav .list {
        flex-direction: column;
        font-size: var(--fs-200);
    }
    
    .headerdiv2 nav .list .nav-list-items {
        padding: 5px;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }

        .card1, .card2 {
            grid-column: initial;
            margin: 10px;
        }

        .card1 .cardcontent, .card2 .resouceTags {
            margin: 0;
            padding: 10px;
        }
    

}